@import '~react-md/src/scss/colors';

@function get-md-color($color-name, $swatch, $accent: false){
  $name: 'md-#{$color-name}-#{if($accent, 'a-', '')}#{$swatch}';
  @return map-get($md-color-map, $name);
}
@function get-class-name($color-name){
  @return 'color-theme-md-#{$color-name}'
}

@mixin theme($color-name) {
  $class-name: get-class-name($color-name);
  .#{$class-name} {
    $react-dates-color-primary: get-md-color($color-name, '800', false);
    $react-dates-color-primary-dark: get-md-color($color-name, '700', false);
    $react-dates-color-primary-shade-1: get-md-color($color-name, '300', false);
    $react-dates-color-primary-shade-2: get-md-color($color-name, '400', false);
    $react-dates-color-primary-shade-3: get-md-color($color-name, '200', false);
    $react-dates-color-primary-shade-4: get-md-color($color-name, '100', false);
    $react-dates-color-secondary: get-md-color($color-name, '600', false);
    $react-dates-color-text-focus: get-md-color($color-name, '700', false);
    $react-dates-color-focus: get-md-color($color-name, '100', true);

    /** from CalendarMonth.scss **/
    .CalendarMonth__day--highlighted-calendar {
      &:active {
        background: $react-dates-color-secondary;
      }
    }
    .CalendarMonth__day--selected-span {
      background: $react-dates-color-primary-shade-2;
      border: 1px double $react-dates-color-primary-shade-1;
      color: $react-dates-color-white;

      &.CalendarMonth__day--hovered,
      &:active {
        background: $react-dates-color-primary-shade-1;
        border: 1px double $react-dates-color-primary;
      }

      &.CalendarMonth__day--last-in-range {
        border-right: $react-dates-color-primary;
      }
    }

    .CalendarMonth__day--hovered-span,
    .CalendarMonth__day--after-hovered-start {
      background: $react-dates-color-primary-shade-4;
      border: 1px double $react-dates-color-primary-shade-3;
      color: $react-dates-color-secondary;
    }

    .CalendarMonth__day--selected-start,
    .CalendarMonth__day--selected-end,
    .CalendarMonth__day--selected {
      background: $react-dates-color-primary;
      border: 1px double $react-dates-color-primary;
      color: $react-dates-color-white;

      &:active {
        background: $react-dates-color-primary;
      }
    }

    /** form DateInput.scss **/
    .DateInput__display-text--focused {
      border-bottom: solid $react-dates-color-focus;
      border-radius: 3px;
    }

    /** from TimePicker.scss **/
    .time-selector{
      &__btn {
        .btn-icon {
          color: $react-dates-color-primary;
        }
      }
    }
    .time-selector__btn[disabled] .btn-icon{
      color: $react-dates-color-primary-shade-3
    }
  }
}

$md-colors-names: red pink purple deep-purple indigo light-blue cyan
teal green light-green lime yellow amber orange deep-orange brown grey blue-grey;

@each $color-name in $md-colors-names{
  @include theme($color-name)
}