@import 'variables';

.time-picker__container{
  display: flex;
  border-top: solid 1px $react-dates-color-border-light;
}
.time-picker{
  display: table;
  width: 30%;
  margin: auto;
  text-align: center;
  &__label{
    font-family: system-ui;
    padding-right: 10px;
  }
  &--align-middle{
    display: table-cell;
    /*height: 80%;*/
    vertical-align: middle;
  }
}
.time-selector{
  display: table-cell;
  padding: 10px 5px;
  text-align: center;
  &__btn {
    display: block;
    border: none;
    background-color: transparent;
    width: 100%;
    .btn-icon {
      font-size: 20px;
      /* color extracted */
      font-weight: bold;
    }
    &--move-up{
      padding-bottom: 4px;
    }
    &--move-down{
      padding-top: 4px;
    }
  }
  &__input{
    border: solid 1px $react-dates-color-border-light;
    border-radius: 3px;
    height: 30px;
    text-align: center;
    margin: auto;
    width: 35px;
    padding: 3px;
    font-size: 14px;
    color: $react-dates-color-placeholder-text;
  }
}

/* disabled time selection */
.disabled{
  color: $react-dates-disabled-color;
  font-weight: 100;
  pointer-events: none;
  .btn-icon {
    color: $react-dates-disabled-color;
  }
  .time-selector__input {
    border-color: $react-dates-disabled-color;
    color: $react-dates-disabled-color;
  }
}

/* validations styles */
.time-not-valid{
  color: $react-dates-validation-color;
  &.show{
    display: inline-block;
  }
  &.hide{
    display: none;
  }
}

/* Changes done because time was added to input */
.DateInput{
  text-align: center;
}

/* color extracted */

.time-not-valid {
  .time-picker__label, .time-picker--align-middle, .time-selector__input,
  .time-selector__btn .btn-icon{
    color: $react-dates-validation-color;
  }
  .time-selector__btn[disabled] .btn-icon{
    color: lighten($react-dates-validation-color, 20%)
  }
  .time-selector__input{
    border-color: $react-dates-validation-color;
  }
  .time-selector__input:focus{
    outline: $react-dates-validation-color auto 3px;
  }
}


