.time-picker{
  display: inline-block;
  width: 50%;
  padding: 10px 5px;
  text-align: center;
  &__label{
    font-family: system-ui;
    padding-right: 10px;
  }
  &--align-middle{
    display: inline-block;
    height: 80%;
    vertical-align: middle;
  }
}
.time-selector{
  display: inline-block;
  padding: 10px 5px;
  text-align: center;
  &__btn {
    display: block;
    border: none;
    background-color: transparent;
    width: 100%;
    .btn-icon {
      font-size: 20px;
      color: #00a699;
      font-weight: bold;
    }
    &--move-up{
      padding-bottom: 4px;
    }
    &--move-down{
      padding-top: 4px;
    }
  }
  &__input{
    border: solid 1px #afadad;
    border-radius: 3px;
    height: 30px;
    text-align: center;
    margin: auto;
    width: 35px;
    padding: 3px;
    font-size: 14px;
    color: #565a5c;
  }
}

/* Changes done because time was added to input */
.DateInput{
  text-align: center;
}

/* disabled time selection */
$disabled-color: #c6c6c6;
.disabled{
  color: $disabled-color;
  font-weight: 100;
  pointer-events: none;
  .btn-icon {
    color: $disabled-color;
  }
  .time-selector__input {
    border-color: $disabled-color;
    color: $disabled-color;
  }
}


.time-not-valid{
  color: tomato;
  &.show{
    display: inline-block;
  }
  &.hide{
    display: none;
  }
}